@font-face {
  font-family: 'Pico';
  src: url('/pico.ttf') format('truetype');
}

body {
  background: black;
}

* {
  font-family: 'Pico';
}

.App {
  display: flex;
  flex-direction: column;
}

h1 {
  color: white;
  text-align: center;
}

.display {
  margin: auto;
  border: 5px solid white;
}
